body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 225, 55);
}

img {
    height: 300px;
    margin-top: 40px;
}


img:hover {
    transform:
    perspective(800px)
    rotateY(-40deg)
    translateY(-70px)
    rotateX(20deg)
    scale(1.5);
}