body {
    overflow: hidden;
  }
.sol, .lluna {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.sol {
    background-color: yellow;
  }

.lluna {
    background-color: gray;
    animation: eclipse 7s infinite alternate;
  }
@keyframes eclipse {
    0% {
      left: 50%;
    }
    50% {
      left: 0;
    }
    100% {
      left: 50%;
    }}