body {
background-color: brown;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
div {
    display: inline-block;
    animation: moverYAmpliar 5s forwards;
    }

 @keyframes moverYAmpliar {
  from {
    transform: translateX(-100%);
 }
to {
    transform: translateX(0) scale(1.5);
  }
 }